body {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
}

.soundBtn {
    padding: 1em;
    margin: .5em;
    height: 5em;
    width: 10em;
    border-radius: 1em;
}

#nerdBtn {
    background-image: url("backgroundBtn/BGnerdBtn.gif");
    background-size: cover;
}

#peterBtn {
    background-image: url("backgroundBtn/BGpeterBtn.png");
    background-size: cover;
}

#thudBtn {
    background-image: url("backgroundBtn/BGthudBtn.gif");
    background-size: cover;
}

#clownBtn {
    background-image: url("backgroundBtn/BGclownBtn.png");
    background-size: cover;
}

#fartBtn {
    background-image: url("backgroundBtn/BGfartBtn.gif");
    background-size: cover;
    background-position: bottom;
}

#kingBtn {
    background-image: url("backgroundBtn/BGkingBtn.gif");
    background-size: cover;
    background-position: bottom;
}

#riftBtn {
    background-image: url("backgroundBtn/BGriftBtn.png");
    background-size: cover;
}

#hurrayBtn {
    background-image: url("backgroundBtn/BG6amBtn.png");
    background-size: cover;
    background-position: center;
}

#turiBtn {
    background-image: url("backgroundBtn/BGturiBtn.png");
    background-size: cover;
}

#sadSpongebobBtn {
    background-image: url("backgroundBtn/BGsadSpongebobBtn.gif");
    background-size: cover;
    background-position: center;
}

#sitcomBtn {
    background-image: url("backgroundBtn/BGsitcomBtn.png");
    background-size: cover;
}

#drunkSqirrelBtn {
    background-image: url("backgroundBtn/BGdrunkSquirrelBtn.png");
    background-size: cover;
    background-position: center;
}

#stfuBtn {
    background-image: url("backgroundBtn/BGstfuBtn.png");
    background-size: cover;
    background-position: center;
}